/* Reset some default browser styles */
body, h1, h2, p, div, section {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Added for spacing between buttons */
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #b3c2d1; /* Grayed out color for disabled button */
    cursor: not-allowed;
}

.factor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.factor label {
    flex: 1;
    margin-right: 10px;
}

.factor input {
    flex: 2;
}

input[type="text"], input[type="number"], input[type="range"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ensures full width for better responsiveness */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}
